*{
    box-sizing:border-box;
}

html,body{
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    box-sizing:inherit;
    font-size:1rem;
    background-color:#ffffff;
}

section{
    margin:1rem;
}

span{
    height:5rem;
    width:5rem;
    margin:1rem;
}

#grey_01:before{
    content:'#111315';
    position:relative;
    left:6rem;
    top:2rem;
    color:black;    
}

#grey_01{
    display:block;
    background-color:#111315;
    content:'';
}

#grey_02:before{
    content:'#2d2d2d';
    position:relative;
    left:6rem;
    top:2rem;
    color:black;    
}



#grey_02{
    display:block;
    background-color:#2d2d2d;
    content:'';
}

#grey_03:before{
    content:'#747474';
    position:relative;
    left:6rem;
    top:2rem;
    color:black;    
}


#grey_03{
    display:block;
    background-color:#747474;
    content:'';
}


#grey_04:before{
    content:'#b7b7b7';
    position:relative;
    left:6rem;
    top:2rem;
    color:black;    
}



#grey_04{
    display:block;
    background-color:#b7b7b7;
    content:'';
}


#grey_05:before{
    content:'#cfd2d4';
    position:relative;
    left:6rem;
    top:2rem;
    color:black;    
}


#grey_05{
    display:block;
    background-color:#cfd2d4;
    content:'';
}



