@import url(https://fonts.googleapis.com/css?family=Lato:400,300|Open+Sans:400,600);
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,body{
    font-family: 'Lato', 'Open Sans', sans-serif;
    width:100vw;
    height:100%;
    background-color: #e9ecee;
}

p{
  color: #B6B9BC;
}

a{
  margin-top: 3vw;
  color: #659cc8;
  text-decoration: underline;
  cursor: pointer;
}
a:hover{
  color:#ACD6E7;
  cursor: pointer;
}

textarea{
    width:100%;
    height:100%;
    margin:0;
}


#gist_wrapper{
    width:100%;
    border:1px solid red;
    display:flex;
    margin:0;

}
#textarea_wrapper{
    width:60%;
    display: inline-block;
    margin:0;
}
#gist_add_wrapper{
display:inline-flex;
width:30%;
    flex-direction: column;
    margin:0;
}
span {
    
    display: flex;
    flex-direction: column;
    width: 60vw;
    justify-content: center;
    align-self: center;
    background-color: transparent;
    margin-left: 25vw;
    padding: 5vw;
    text-align: center;
}

button{
    color: #e9ecee;
    text-align: center;
    background-color: #0196d8;
    border-radius: 5px;
    margin-top: 3vw;
    border:none;
   
}
button:hover{
  background-color: #ACD6E7;
}




input{
    text-align: center;
    height:100%;
}


input:nth-of-type(1){
  margin-bottom: 0;
  border-radius: 5px 5px 0px 0px;
}
input:last-of-type{
  margin-top: 0;
  border-radius: 0px 0px 5px 5px;
}



.form_item{

    padding:10px 0;
    font-size: 1.5rem;

}
.alert{
    color:red;
}

.alert_hidden{
    height:0.01px;
    display:none;
    overflow:hidden;
}

#gist_select_wrapper{
    display:flex;

}
#gist_select_wrapper>button{
    flex:.2;
    background-color: red;
}

img {
    background-repeat: no-repeat;    
   color: #E5E8EB;
    height: 20vw;
    margin: 5% 44% 0;
  
}
h1{
  font-size: 3rem;
  margin-left: 40%;
}

@media screen and (min-width: 900px){
  img {
    background-repeat: no-repeat;    
   color: #E5E8EB;
    height: 20vw;
    margin: 5% 44% 0;
  
}
h1{
  font-size: 4rem;
  margin-left: 44%;
}
}



