@import url(https://fonts.googleapis.com/css?family=Lato:400,300|Open+Sans:400,700);

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,body{
    font-family: 'Lato', 'Open Sans', sans-serif;
    width:100%;
    height:100%;
    background-color: #e9ecee;
}

header{
   float: left;
}


a{

    color: #659cc8;
    text-decoration: underline;
    cursor: pointer;
    margin: 2% 0 0 ;
}
a:hover{
    color:#ACD6E7;
    cursor: pointer;
}




span {

    display: inline-flex;
  flex-wrap: wrap;
    flex-direction: column;
    
/*    width: 60%;*/
    margin: 0 0 0 0;
    background-color: transparent;
    
}

button{
    color: #e9ecee;
    text-align: center;
    background-color: #0196d8;
    border-radius: .3rem;
    margin: 1rem 0 0 0;
    border:none;
}




input{
    text-align: center;
    height:100%;
}


input:nth-of-type(1){

    margin-bottom: 0;
    border-radius: 5px 5px 0px 0px;
}
input:last-of-type{
    margin-top: 0;
    border-radius: 0px 0px 5px 5px;
}

.top_Div{
  float:left;
  text-align: center;
   width: 1rem;
  height: 1rems;
 margin: 0 auto;
}

.bottom_div {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  margin: 1rem;
}

i{
  content: "\f002";
  font-size: inherit;
}

.form_item{

    padding: .2rem 0;
    font-size: 1.5rem;

}

h3{
  
  font-size: .8rem;
}

.alert{
    color:red;
}

.alert_hidden{
    height: .01rem;
    display:none;
    overflow:hidden;
}

main{
  float: left;
}

img {
    background-repeat: no-repeat;
    color: #E5E8EB;
    /*height: 20%;*/
    margin: 1% 0 0 25%;
    width: 5em;
    height: 5em;

}

h1{

    font-size: 2rem;
    margin-bottom: 0.5rem;
    /*margin-left: 40%;*/
    color: #737273
}


